<style> 
.label 
{ 
    border-style:outset; border-width:3; padding:1; margin:0; WIDTH: 100%; 
    HEIGHT: 6px; 
    font-size:10 pt; 
    font-family:Arial,Helvetica; 
    text-align:left; 
    text-indent:4; 
    word-spacing:0; 
    font-weight:bold; color:#FFFFFF; background-color:#800000 
} 
</style>

<BODY>

<p class="label">Hier de kop plaatsen...</p> 