ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
}

li {
    float: left;
}

li a {
    display:block;
    color:rgb(54, 47, 48)
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(active) {
    background-color: azure;
}

.active {
    background-color: aquamarine;
}
#body1 {
    background-color: chartreuse;


}

#body2 {
    background-color: darkseagreen;

}

#body3 {
    background-color:chartreuse;

}

#body4 {
    background-color: cadetblue;
}
#body5 {
    background-color: darkseagreen;

}
#body6 {
    background-color:chartreuse;
}