ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
}

li {
    float: left;
}

li a {
    display:block;
    color:rgb(54, 47, 48)
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(active) {
    background-color: azure;
}



#body1 {
    background-color: chartreuse;
    .footer 
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
     

}

#body2 {
    background-color: darkseagreen;

}

#body3 {
    background-color:rgb(109, 224, 240);

}

#body4 {
    background-color: cadetblue;
}
#body5 {
    background-color: rgb(224, 182, 248);

}
#body6 {
    background-color:rgb(93, 158, 133);
}




